.container {
    width: 95%;
    padding: 40px;
}
.tableContainer {
    height:70vh;
    overflow-y:scroll;
}

#myInput {
    background-image: url('searchicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 50px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

    #myTable th, #myTable td {
        text-align: left;
        padding: 12px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
