.container {
    width: 70vw;
    margin: auto;
    border: 1px solid;
    box-shadow: 2px 2px 5px #aaaaaa;
}

.container-header {
    background-color: green;
    border-bottom: 1px solid black;
    display: flex;
}

.container-body {
    overflow-y: auto;
    max-height: 70vh;
    padding: 10px 10px 10px 10px;
}

.container-footer {
    padding: 20px;
    background-color: whitesmoke;
    border-top: 1px solid black;
    display: flex;
}

.icon {
    width: 3em;
    height: 3em;
}

.title {
    font-size: 2em;
    margin: 10px;
    color: white;
    cursor: default;
}

.audioTest {
    padding-left: 5px;
    font-size:12px;
    background-color: green;
    padding: 10px;
    border: 2px solid green;
}

.audioTest:hover {
    background-color: whitesmoke;
    color: black;
}

.close {
    background-color: green;
    font-size: 2em;
}

.close:hover {
    background-color: rgb(0, 150, 0);
}

table,
th,
td {
    border: 1px #b3b3b3 solid;
    border-collapse: collapse;
    cursor: default;
    font-size: 1.1em;
}

table {
    width: 90%;
    margin: auto auto 20px auto;
}

table:last-of-type {
    margin: auto auto 0px auto;
}

th {
    color: white;
    background-color: rgb(0, 150, 0);
    padding: 10px 0px 10px 0px;
}

td {
    padding: 10px 10px 10px 20px;
}

.default {
    background-color: green;
    padding: 10px;
    border: 2px solid green;
}

.default:hover {
    background-color: whitesmoke;
    color: black;
}

.cancel {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    border: 2px solid green;
}

.cancel:hover {
    background-color: green;
    color: white;
}

.save {
    background-color: green;
    padding: 10px;
    border: 2px solid green;
}

.save:hover {
    background-color: whitesmoke;
    color: black;
}

button {
    font-size: 1.1em;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.textInput {
    font-size: 1em;
}

/*Custom Checkbox*/
.containerCheckmark {
    display: block;
    position: relative;
    padding-left: 35px;
    user-select: none;
}

.containerCheckmark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.containerCheckmark:hover input~.checkmark {
    background-color: #ccc;
}

.containerCheckmark input:checked~.checkmark {
    background-color: rgb(0, 150, 0);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerCheckmark input:checked~.checkmark:after {
    display: block;
}

.containerCheckmark .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.error {
    border-color: red;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }